* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(meniu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asigură-te că header-ul este deasupra altor elemente */
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    padding: 15px;
    color:rgb(19, 46, 95);
    font-size: 18px;
    display: block;
}

header nav ul li a:hover {
    color: rgb(223, 201, 8);
    background-color: rgb(6, 77, 117); /* Modificare corectă a culorii background */
}

nav ul li ul {
    position: absolute;
    top: 100%; /* Face meniul dropdown să apară sub elementul principal */
    left: 0;
    background-color: azure;
    width: 180px;
    display: none;
}

nav ul li ul li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul li:hover > ul {
    display: block;
}


