body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


body {
     padding-top: 0px; 
    padding-bottom: 0px; 
    background-color: black;
    overflow-x: hidden;
}

/* Style the header */
header {
   position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(oi.jpeg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    z-index: 1000;
}

.meniu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Cooper Black', sans-serif;
}

.top_meniu ul {
    list-style: none;
    display: flex;
}

.top_meniu li {
    margin-right: 40px;
    transition: background-color 0.3s ease-in-out;
}

.top_meniu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    font-family: 'Cooper Black', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.top_meniu li:hover {
    background-color: rgba(51, 51, 51, 0.7);
}

.top_meniu li:hover a {
    transform: scale(1);
    font-size: 18px;
}
.alla {
    color: #fff; 
    text-decoration: none; 
    size: 20 px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reg {
    text-align: center;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 25px;
    width: 300px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #a614c4;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

h1 {
    margin: 0;
}
#item {
    display: block;
    text-align: center;
    color: aqua;
    text-decoration: none;
    font-size: 60px;
    
}
#item:hover {
    color: #a614c4;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}
footer {
      position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1px;
    z-index: 1000; 
}


.folder {
    text-align: center;
    color: #fff;
    padding: 10px;
}

